.container {
  width: 800px;
  margin: 0 auto;
  box-shadow: -1px 10px 10px 10px #888888;
  padding: 0px 50px;
  font-family: 'Happy Monkey', cursive;
}

p, li {
  color: #707070;
}

header {
  text-align: center;
}

h1 {
  color: #DB0038;
}

h2 {
  color: #3998A3;
}

h3 {
  color: #474747;
}

.hero {
  background-color: #f4f4f4;
  text-align: center;
  padding-bottom: 10px;
}

li {
  padding: 10px 0px;
}

.rating span {
  color: #F4B400;
  font-size: 25px;
}

.rating {
  text-align: center;
}

footer {
  text-align: center;
}